<a
  [routerLink]="[index]"
  routerLinkActive="active"
  style="cursor: pointer"
  class="list-group-item">
  <div class="card text-white" style="width: 300px; text-align: center; background-color: #0085CA;">
    <img
      [src]="album.coverArt"
      alt="{{ album.title }}"
      class="card-img-top">
      <div class="card-body">
        <h4 class="card-text">{{ album.artist }} - {{ album.title }}</h4>

      </div>
  </div>
</a>
<button class="btn btn-danger" (click)="onDeleteAlbum()">X</button>
