<div class="row">
  <div class="col-xs 12">
    <form (ngSubmit)="onSubmit()" [formGroup]="albumEditForm" >
      <div class="row">
        <div class="col-xs-6">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!albumEditForm">Save</button>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-warning">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="margin-top: 5px;">
          <label for="artist" >Artist:</label>
          <input
            type="text"
            id="artist"
            class="form-control"
            formControlName="artist">
        </div>
        <div class="col-xs-12" style="margin-top: 10px;">
          <label for="title">Album Title:</label>
          <input
            type="text"
            id="title"
            class="form-control"
            formControlName="title">
        </div>
        <div class="col-xs-12" style="margin-top: 10px;">
          <label for="genre">Genre:</label>
          <input
            type="text"
            id="genre"
            class="form-control"
            formControlName="genre">
        </div>
        <div class="col-xs-12" style="margin-top: 10px;">
          <label for="rlYear">Release Year(YYYY):</label>
          <input
            type="number"
            formControlName="rlYear"
            id="rlYear"
            min="1900"
            max="2999"
            class="form-control"
            placeholder="YYYY">
        </div>
        <div class="col-xs-12" style="margin-top: 10px;">
          <label for="cover">Cover Art:</label>
          <input
            type="text"
            id="cover"
            class="form-control"
            formControlName="cover"
            #albumCover>
          <img [src]="albumCover.value" class="img-responsive">
        </div>
        <div class="row">
        <div class="col-xs-12" formArrayName="trackList">
          <div
            class="row"
            *ngFor="let trackNumber of controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;">
            <div class="col-xs-2">
              <label for="trackOrder">Track Number:</label>
              <input
                type="number"
                class="form-control"
                formControlName="trackOrder">
            </div>
            <div class="col-xs-8">
              <label for="trackName">Track Name:</label>
              <input
                type="text"
                class="form-control"
                formControlName="trackName">
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteTrack(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-primary"
                style="background-color: #0085CA;"
                (click)="onAddTrack()">Add Music Tracks
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>

