<div class="row">
  <div class="col-xs 12">
    <form (ngSubmit)="onSubmit()" [formGroup]="albumEditForm">
      <div class="row">
        <label for="artist">Artist:</label>
        <input
          type="text"
          id="artist"
          class="form-control"
          formControlName="artist">

          <label for="title">Album Title:</label>
          <input
            type="text"
            id="title"
            class="form-control"
            formControlName="title">

          <label for="genre">Genre:</label>
          <input
            type="text"
            id="genre"
            class="form-control"
            formControlName="genre">

          <label for="rlYear">Release Year(YYYY):</label>
          <input
            type="number"
            formControlName="rlYear"
            id="rlYear"
            min="1900"
            max="2999"
            class="form-control"
            placeholder="YYYY">

          <label for="genre">Cover Art:</label>
          <input
            type="text"
            id="cover"
            class="form-control"
            formControlName="cover">
          <img src="" alt="">


      </div>
    </form>
  </div>
</div>

