<div class="container">
  <h1 style="text-align: center;">Music List</h1>
  <hr>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" style="margin-bottom: 10px;" (click)="onNewRecipe()">New Album</button>
      <app-music-search></app-music-search>
    </div>
    <div class="col">
      <app-album-detail
      *ngFor="let albumElem of albums; let i = index"
      [album]="albumElem"
      [index]= "i"></app-album-detail>
    </div>
    <div class="col"><router-outlet></router-outlet></div>
  </div>

</div>
